@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #00000080;
}

 .navbar h1{
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(1.5rem, calc(1.2vw + 0.5rem), 4rem);
    padding: 0 0 15px 15px;
    color: white;
    text-shadow:
      0 0 0.5px #fff,
      0 0 1px #fff,
 }

 .navbar nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    padding: 25px 3.5em 0 0;
 }

 .navbar nav a, #sidebar a {
    text-decoration: none;
    color: #fff;
 }

 .navbar nav a:hover, #sidebar a:hover, #bars:hover, .tools:hover {
    text-shadow:
      0 0 0.5px #fff,
      0 0 1px #fff,
      0 0 1.5px #fff,
      0 0 2px #fff;
 }

 .navbar nav a.selected, #sidebar a.selected {
    color: #39f6ff;
    text-shadow:
      0 0 8px #39f6ff,
      0 0 16px #39f6ff,
      0 0 32px #00eaff,
      0 0 48px #00eaff;
    font-weight: bold;
    transition: color 0.2s, text-shadow 0.2s;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -100vw;
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-width: 350px;
    height: 100vh;
    background: #000000af;
    box-shadow: -4px 0 16px #000a;
    transition: right 0.4s cubic-bezier(.4,0,.2,1);
    z-index: 100;
    padding: 2em 1.5em;
    overflow-y: auto;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    gap: 10px;
}

#sidebar.open {
    right: 0;
}

#bars {
    display: none;
    color: white;
}

#bars.open {
    position: absolute;
    right: 0;
    z-index: 101;
}

#show-name {
    display: none;
    position: absolute;
}

 #show-name h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-shadow:
      0 0 8px #39f6ff,
      0 0 16px #39f6ff,
      0 0 32px #00eaff,
      0 0 48px #00eaff;

 }

 #show-name p {
    padding-left: 20px;
    padding-right: 20px;
 }

#show-details {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color: white;
}

#tools {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: #00000080;
}

.tool-menu {
    display: none;
    position: absolute;
    bottom: 70px;
    left: 70px;
    background-color: #10212f80;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    border-width: 0.2px;
    border-color: #6cf5f1;
    border-style: solid;
}

.tool-menu p {
    color: white;
    font-size: 15px;
}

.tool-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-left: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.14em;
  bottom: 0.14em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px #6cf5f1cc;
  border: 2px solid #6cf5f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
#google_translate_element {
  display: none; 
  margin-top: 10px;
}


@media (max-width: 1035px) {
    .navbar nav {
        display: none;
    }

    #bars {
        display: block;
        margin-left: auto;
        padding: 15px 2em 0 0;
        cursor: pointer;
        font-size: 1.2em;
    }

    #tools {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        margin-top: 100px;
        margin-right: 20px;
        font-size: 18px;
    }
}
